<nav id="sidebar" class="active">
    <div class="sidebar-header">
        <img src="../../public/assets/img/bootstraper-logo.png" alt="bootraper logo" class="app-logo">
    </div>
    <ul class="list-unstyled components text-secondary">
        <li>
            <a href="/dashboards"><i class="fas fa-home"></i> Dashboard</a>
        </li>
        <li>
            <a href="/hospitals"><i class="fas fa-hospital-symbol"></i> Hospital</a>
        </li>
        <li>
            <a href="/doctors"><i class="fas fa-user-md"></i> Doctors</a>
        </li>
        <li>
            <a href="/employers"><i class="fas fa-user-tie"></i> Employers</a>
        </li>
        <li>
            <a href="/patients"><i class="fas fa-user-injured"></i> Patients</a>
        </li>
        <li>
            <a href="#uielementsmenu" data-bs-toggle="collapse" aria-expanded="false" class="dropdown-toggle no-caret-down"><i class="fas fa-layer-group"></i> Reports</a>
            <ul class="collapse list-unstyled" id="uielementsmenu">
                <li>
                    <a href="ui-buttons.html"><i class="fas fa-angle-right"></i> Monthly</a>
                </li>
                <li>
                    <a href="ui-badges.html"><i class="fas fa-angle-right"></i> Quarterly</a>
                </li>
                <li>
                    <a href="ui-cards.html"><i class="fas fa-angle-right"></i> Anually</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="/users"><i class="fas fa-users"></i> Users</a>
        </li>
        <li>
            <a href="/settings"><i class="fas fa-cogs"></i> Settings</a>
        </li>
    </ul>
</nav>