<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Sign Up</title>
    <link href="../../public/assets/vendor/fontawesome/css/fontawesome.min.css" rel="stylesheet">
    <link href="../../public/assets/vendor/fontawesome/css/solid.min.css" rel="stylesheet">
    <link href="../../public/assets/vendor/fontawesome/css/brands.min.css" rel="stylesheet">
    <link href="../../public/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../public/assets/css/auth.css" rel="stylesheet">
    <link href="../../public/assets/css/master.css" rel="stylesheet">
    <link href="../../public/assets/vendor/flagiconcss/css/flag-icon.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.datatables.net/2.1.3/css/dataTables.dataTables.min.css"/>
    <script src="../../public/assets/js/jquery/jquery-3.7.1.min.js"></script>
</head>  

<body>
    <div class="wrapper">
        <div class="auth-content">
            <div class="card">
                <div class="card-body text-center">
                    <div class="mb-4">
                        <img class="brand" src="../../public/assets/img/bootstraper-logo.png" alt="bootstraper logo">
                    </div>
                    <h6 class="mb-4 text-muted">Create new account</h6>
                    <form action="/signup" id="signup_form">
                        <div class="mb-3 text-start">
                            <label for="username" class="form-label">Username</label>
                            <input type="text" class="form-control" name="username" id="username" placeholder="Enter Username" required>
                        </div>
                        <div class="mb-3 text-start">
                            <label for="email" class="form-label">Email adress</label>
                            <input type="email" class="form-control" name="email" id="email" placeholder="Enter Email" required>
                        </div>
                        <div class="mb-3 text-start">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" class="form-control" name="password" id="password" placeholder="Password" required>
                        </div>
                        
                        <div class="mb-3">
                            <label for="confirm_password" class="form-label">Confirm Password</label>
                            <input type="password" class="form-control" name="confirm_password" id="confirm_password" placeholder="Confirm password" >
                        </div>
                       
                        <div class="mb-3 text-start">
                            <div class="form-check">
                              <input class="form-check-input" name="terms" type="checkbox" value="" id="check1">
                              <label class="form-check-label" for="check1">
                                I agree to the <a href="#" tabindex="-1">terms and policy</a>.
                              </label>
                            </div>
                        </div>
                        <div>
                            <button type="submit" class="btn btn-primary shadow-2 mb-4">Register</button>
                        </div>
                    </form>
                    <p class="mb-0 text-muted">Allready have an account? <a href="/login">Log in</a></p>
                </div>
            </div>
        </div>
    </div>

    <script src="../../public/assets/vendor/jquery/jquery.min.js"></script>
    <script src="../../public/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../../public/assets/vendor/chartsjs/Chart.min.js"></script>
    <script src="../../public/assets/js/dashboard-charts.js"></script>
    <script src="../../public/assets/js/script.js"></script>

    <script src="../../public/assets/vendor/jquery/jquery.min.js"></script>
    <script src="../../public/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="../templates/js_scripts.js"></script>
</body>

</html>